.hidden {
  @include visually-hidden();
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.g-fade-relative {
  position: relative;
}

.g-title__lg {
  @include font-size(54, 700);
  line-height: rem(82);
}

.g-title__md {
  @include font-size(38, 500);
}

.g-text__md {
  @include font-size(24, 500);
}

.g-text__sm {
  @include font-size(18, 400);
}

.text-blue {
  color: $blue-clr;
}

.text-dark {
  color: $dark-gray;
}

.text-red {
  color: $red-clr;
}

.g-title__blue {
  color: $blue-clr;
}

.g-title__black {
  color: $black-clr;
}

.g-text {
  color: $dark-gray;
  @include font-size(16, 400);
}

.border-gray {
  border-color: $border-clr !important;
}