.hidden {
  @include visually-hidden();
}

.g-fade-relative {
  position: relative;
}

.g-title__lg {
  @include font-size(54, 700);
  line-height: rem(82);
}

.g-title__md {
  @include font-size(38, 500);
}

.g-title__blue {
  color: $blue-clr;
}

.g-title__black {
  color: $black-clr;
}

.g-text {
  color: $dark-gray;
  @include font-size(16, 400);
}