$font-family: "Prompt";
$font-types: (
  "Bold": 700,
  "Regular": 400,
  "SemiBold": 600,
  "ExtraBold": 900,
  "Medium": 500,
  "Light": 300,
);
$dark-gray: #2f2f30;
$border-clr: #e6e6e7;
$white-clr: #fff;
$black-clr: #000;
$red-clr: #eb4838;
$blue-clr: #03006c;
$blue-gradient: linear-gradient(269.65deg, #03006c -43.69%, #aba9f7 183.89%);
$red-gradient: linear-gradient(263.14deg, #f31802 -20.94%, #f59288 114.79%);
$solid-blue-border: #03006c99;
$light-blue: #f8f7fe;
$dark-blue: #0C1F6B;
$solid-white: #F4F6FF;
$gray-clr: #5B5B5D;
$azure-clr: #EEF0F2;
$gray-clr-2: #535355;

$break-points: (
  "sm": rem(480),
  "md": rem(768),
  "lg": rem(1200),
);

$grid-columns: 12 !default;
$grid-gutter-width: 12px !default;
