$font-family: "Prompt";
$font-types: (
  "Bold": 700,
  "Regular": 400,
  "SemiBold": 600,
  "ExtraBold": 900,
  "Medium": 500,
  "Light": 300,
);
$dark-gray: #2f2f30;
$border-clr: #e6e6e7;
$white-clr: #fff;
$black-clr: #000;
$red-clr: #eb4838;
$blue-clr: #03006c;
$blue-gradient: linear-gradient(269.65deg, #03006c -43.69%, #aba9f7 183.89%);
$red-gradient: linear-gradient(263.14deg, #f31802 -20.94%, #f59288 114.79%);
$solid-blue-border: #03006c99;
$light-blue: #f8f7fe;
$dark-blue: #0c1f6b;
$dark-blue-2: #2d2b81;
$solid-white: #f4f6ff;
$gray-clr: #5b5b5d;
$azure-clr: #eef0f2;
$gray-clr-2: #535355;
$label-clr: #828282;
$blue-clr-2: #353299;
$container-bg: #ffffff4d;
$mint-green: #d9f7f4;

$offset: 100;
$offset-md: 320;

$radius-20: 20;

$break-points: (
  "sm": 468,
  "md": 768,
  "lg": 1024,
);

$desktop-width: map-get($break-points, "lg");
$tablet-width: map-get($break-points, "md");
$mobile-width: map-get($break-points, "sm");

$grid-columns: 12 !default;
$grid-gutter-width: 12px !default;
