/* Utilities */
.hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.g-fade-relative {
  position: relative;
}

.g-title__lg {
  font-size: 3.375rem;
  font-weight: 700;
  font-style: normal;
  line-height: 5.125rem;
}

.g-title__md {
  font-size: 2.375rem;
  font-weight: 500;
  font-style: normal;
}

.g-text__md {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
}

.g-text__sm {
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
}

.text-blue {
  color: #03006c;
}

.text-dark {
  color: #2f2f30;
}

.text-red {
  color: #eb4838;
}

.g-title__blue {
  color: #03006c;
}

.g-title__black {
  color: #000;
}

.g-text {
  color: #2f2f30;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}

/* Base */
@font-face {
  font-family: "Prompt";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/Prompt-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Prompt";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/Prompt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Prompt";
  font-weight: 600;
  font-style: normal;
  src: url("../../assets/fonts/Prompt-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Prompt";
  font-weight: 900;
  font-style: normal;
  src: url("../../assets/fonts/Prompt-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Prompt";
  font-weight: 500;
  font-style: normal;
  src: url("../../assets/fonts/Prompt-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Prompt";
  font-weight: 300;
  font-style: normal;
  src: url("../../assets/fonts/Prompt-Light.ttf") format("truetype");
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1.1;
  font-family: "Prompt", sans-serif !important;
}

* *:focus {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

body {
  font-family: "Prompt", sans-serif !important;
  background: #fff;
  color: #2f2f30;
}

@media screen and (min-width: 1920px) {
  html {
    font-size: calc(100vw / 1920 * 20);
  }
}

.btn,
.form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus,
.form-control:focus {
  text-shadow: none;
}

address {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
}

.g-fluid {
  width: 100%;
}

/* Components */
.g-dropdown .g-btn {
  margin-left: 1.375rem;
}

.dropdown-menu {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.dropdown-menu.show {
  position: absolute;
  display: block;
  -webkit-clip-path: none;
          clip-path: none;
  clip: auto;
  clip: auto;
  height: auto;
  position: absolute;
  clip-path: none;
  white-space: normal;
  width: auto;
  -webkit-animation: fade-in .2s linear forwards;
          animation: fade-in .2s linear forwards;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateZ(25px) !important;
            transform: translateZ(25px) !important;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateZ(25px) !important;
            transform: translateZ(25px) !important;
  }
  to {
    opacity: 1;
  }
}

.g-btn {
  border: none;
  outline: none;
  background-color: transparent;
  display: inline-block;
  text-decoration: none !important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
  border-radius: 1.625rem;
}

.g-btn__sm {
  border-radius: 1.625rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
}

.g-btn__md {
  padding: 0.625rem 3.25rem;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
}

.g-btn__blue {
  background: linear-gradient(269.65deg, #03006c -43.69%, #aba9f7 183.89%);
  color: #fff;
}

.g-btn__red {
  background: linear-gradient(263.14deg, #f31802 -20.94%, #f59288 114.79%);
  color: #fff;
}

.g-btn__red:hover {
  color: #fff;
}

.g-btn__red--outline {
  background: transparent;
  border: 1px solid #eb4838;
  color: #03006c;
}

.g-btn__red--outline:hover {
  color: #03006c;
}

.g-backdrop {
  position: relative;
}

.g-backdrop:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 300%;
  max-height: 50rem;
  top: -9.375rem;
  left: -9.375rem;
  -webkit-filter: blur(31.25rem);
          filter: blur(31.25rem);
  z-index: -1;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.g-backdrop:before {
  content: "";
  position: absolute;
  width: 55%;
  height: 300%;
  max-height: 50rem;
  top: -9.375rem;
  right: -9.375rem;
  -webkit-filter: blur(31.25rem);
          filter: blur(31.25rem);
  z-index: -1;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.g-backdrop__ltr:after {
  content: "";
  position: absolute;
  background: rgba(120, 145, 247, 0.2);
}

.g-backdrop__ltr:before {
  content: "";
  position: absolute;
  background: rgba(255, 143, 133, 0.2);
}

.g-backdrop__rtl:after {
  content: "";
  position: absolute;
  background: rgba(255, 143, 133, 0.2);
}

.g-backdrop__rtl:before {
  content: "";
  position: absolute;
  background: rgba(120, 145, 247, 0.2);
}

.service-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(21.875rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(21.875rem, 1fr));
  grid-gap: 1.25rem;
  margin-top: 5rem;
}

.service-cards .service-card {
  position: relative;
  background-color: #f8f7fe;
  padding: 4.0625rem 4.375rem 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 2px solid transparent;
  z-index: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.service-cards .service-card:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.service-cards .service-card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.service-cards .service-card:after {
  content: "";
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
  z-index: -1;
}

.service-cards .service-card:before {
  content: "";
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
  z-index: -1;
}

.service-cards .service-card::before {
  top: 0;
  left: 0;
}

.service-cards .service-card::after {
  bottom: 0;
  right: 0;
}

.service-cards .service-card:hover::before, .service-cards .service-card:hover::after {
  width: 100%;
  height: 100%;
}

.service-cards .service-card:hover::before {
  border-top-color: #fff;
  border-right-color: #fff;
  -webkit-transition: width 0.25s ease-out,  height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out,  height 0.25s ease-out 0.25s;
}

.service-cards .service-card:hover::after {
  border-bottom-color: #fff;
  border-left-color: #fff;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.service-cards .service-card::after {
  top: 0;
  left: 0;
}

.service-cards .service-card:hover::before {
  border-top-color: #eb4838;
  border-right-color: #eb4838;
}

.service-cards .service-card:hover::after {
  border-bottom-color: #eb4838;
  border-left-color: #eb4838;
  -webkit-transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}

.service-cards .service-card__img {
  padding: 0 1.5625rem;
  margin-bottom: 3.375rem;
}

.service-cards .service-card__title {
  margin-bottom: 1.25rem;
}

.service-cards .service-card__description {
  margin-bottom: 2.5rem;
  font-weight: 300;
}

/* Layouts */
.g-container {
  width: 100%;
  margin: 0 auto;
  max-width: calc(100% - 6.25rem * 2);
}

.g-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.g-flex__shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.g-flex__grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.g-nav .navbar-brand {
  cursor: pointer;
}

.g-nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1.75rem 0 1.5625rem 0;
}

.g-nav__bottom {
  padding: 2.6875rem 0 2.3125rem 0;
}

.g-nav__border {
  border-bottom: 1px solid #03006c99;
}

.g-nav .btn-login {
  margin: 0 1.5rem 0 6.875rem;
}

.g-nav .address-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.g-nav .address-info * {
  color: #2f2f30;
}

.g-nav .address-info address,
.g-nav .address-info a {
  padding: 0 0.5rem;
  position: relative;
  margin-right: 6px;
}

.g-nav .address-info a {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.g-nav .address-info a:hover {
  color: #eb4838;
}

.g-nav .address-info a:active {
  color: #eb4838;
}

.g-nav .address-info .border-right:after {
  content: "";
  position: absolute;
  right: -5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1.3125rem;
  background-color: #2f2f30;
  width: 0.125rem;
}

.g-nav .auth-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.g-nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
}

.g-nav__link:not(:last-child) {
  margin-right: 10px;
}

.g-nav__link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-bottom: 0;
}

.g-nav__link-list a {
  padding: 0.5rem 0.9375rem;
  color: #2f2f30;
  display: block;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.g-nav__link-list a:hover {
  color: #eb4838;
}

.g-nav__link-list a:active {
  color: #eb4838;
}

/* Pages */
.intro-section {
  position: relative;
  background-color: #f8f7fe;
  padding: 5.1875rem 0;
}

.intro-section:after {
  content: "";
  position: absolute;
  bottom: 0;
}

.intro-section:before {
  content: "";
  position: absolute;
  bottom: 0;
}

.intro-section:after {
  content: "";
  position: absolute;
  left: 0;
  width: 25.625rem;
  height: 0.25rem;
  background-color: #eb4838;
}

.intro-section:before {
  content: "";
  position: absolute;
  right: 0;
  width: calc(100% - 25.625rem);
  background-color: #03006c;
  height: 0.0625rem;
}

.intro-section__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-section__content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.intro-section__img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.intro-section__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.intro-section .g-title__lg {
  margin-bottom: 2rem;
}

.calculator-section {
  margin: 2.875rem 0 0;
}

.services-section {
  padding: 12.5rem 0;
}

.services-section .g-title__md {
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.services-section__subtitle {
  max-width: 43.75rem;
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.375rem;
}
/*# sourceMappingURL=main.css.map */