.g-backdrop {
  $pos: rem(-150);
  $max: rem(800);
  $blur: rem(500);
  $blue: hsla(228, 89%, 72%, 0.2);
  $pink: hsla(5, 100%, 76%, 0.2);

  /* in browser which use webkit performance decrease beacuse filter blur. that`s why I have used these properties below */
  /* in addition to that, filter uses hight CPU :(, mainly in elements which have higher dimensions */

  @include pseudo(before) {
    width: 60%;
    height: 150%;
    // max-height: $max;
    top: $pos;
    left: $pos;
    filter: blur(#{$blur});
    z-index: -1;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  @include pseudo(after) {
    width: 64%;
    height: 150%;
    // max-height: $max;
    top: rem(-150);
    right: rem(-150);
    filter: blur(#{$blur});
    z-index: -1;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  // [ltr] => left side will be blue gradient
  // [ltr] => right side will be red gradient
  // [rtl] => will be vice versa

  &__ltr {
    @include pseudo(before) {
      background: $blue;
    }

    @include pseudo(after) {
      background: $pink;
    }
  }

  &__rtl {
    @include pseudo(before) {
      background: $pink;
    }

    @include pseudo(after) {
      background: $blue;
    }
  }
}
