.g-btn {
  $radius: rem(26);
  border: none;
  outline: none;
  background-color: transparent;
  display: inline-block;
  text-decoration: none !important;
  @include transition();
  position: relative;
  border-radius: rem(26);
  text-align: center;

  &__sm {
    border-radius: $radius;

    padding: rem(8) rem(32);
    @include font-size(16, 500);
    line-height: rem(24);
  }

  &__md {
    @include advancedRem(padding, (10 52));
    @include font-size(18, 400);
  }

  &__lg {
    @include advancedRem(padding, (17 88));
    @include font-size(18, 400);
  }

  &__blue {
    background: $blue-gradient;
    color: $white-clr !important;
  }

  &__red {
    background: $red-gradient;
    color: $white-clr;
    @include action-css(hover) {
      color: $white-clr;
    }

    &--outline {
      background: transparent;
      border: 1px solid $red-clr;

      color: $blue-clr;

      @include action-css(hover) {
        color: $blue-clr;
      }
    }
  }
}
