.modal-backdrop.show {
  background: rgba(242, 242, 242, 0.2);
  backdrop-filter: blur(#{rem(4)});
  opacity: 1;
}

.g-modal {
  .modal-content {
    background: #ffffff;
    box-shadow: 0px 13px 29px -8px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 0;
  }

  &__title {
    @include font-size(18, 300);
    line-height: rem(27);
    color: $black-clr;
    margin-bottom: 0;
  }

  &__text {
    @include font-size(16, 400);
    line-height: rem(24);
    color: $dark-gray;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;

    span {
      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }
  }

  .modal-header {
    border-bottom: rem(1) solid $blue-clr-2;
    @include advancedRem(padding, (20 30 10));
  }
}

.information-modal {
  .modal-dialog {
    max-width: rem(860);
  }

  .modal-body {
    @include advancedRem(padding, (18 40));
  }

  .modal-footer {
    border: none;
    margin-top: rem(25);
    @include advancedRem(padding, (0 40 40));

    .g-btn__blue {
      margin-right: rem(20);
    }
  }
}

.edit-modal {
  
  .modal-dialog {
    max-width: rem(940);
  }

  .modal-header {
    padding-top: 0;
  }

  .modal-content {
    @include advancedRem(padding, (25 50 65));
  }

  &__title {
    text-align: center;
    @include font-size(24, 500);
    width: 100%;
    margin-bottom: 0;
  }

  .modal-body,
  .modal-footer {
    border: none;
  }

  .modal-body {
    @include advancedRem(padding, (45 0 0));
  }

  &__btn {
    @include advancedRem(padding, (15, 37));
    @include font-size(18, 400);
    width: 100%;
  }
}

.commitment-modal {
  .modal-dialog {
    max-width: rem(860);
  }

  .modal-body {
    @include advancedRem(padding, (70 25 50));
  }
}