/* Tab */

.g-tab-swiper {
  overflow: hidden;
}

.g-tab-bordered {
  .swiper-slide {
    width: max-content;
  }

  &__item {
    @include font-size(16, 400);
    color: $dark-gray;
    text-align: center;
    white-space: nowrap;
    @include transition();
    display: block;

    span {
      @include advancedRem(padding, (0 6 8 6));
      display: inline-block;
    }

    &:hover {
      color: $blue-clr;

      @include pseudo() {
        background: $blue-gradient;
      }
    }

    @include pseudo() {
      bottom: 0;
      width: 100%;
      height: rem(5);
      background-color: $border-clr;
      border-radius: rem(2);
    }

    &.active {
      font-weight: 600;
      color: $dark-gray;

      @include pseudo() {
        background: $blue-gradient;
      }
    }
  }
}

.g-tab {
  .swiper-slide {
    width: max-content;
  }

  &__carousel {
    overflow-x: hidden;
  }

  &__item {
    display: block;
    @include font-size(18, 300);
    color: $dark-gray;
    @include advancedRem(padding, (30 50));
    @include advancedRem(border-radius, (20 20 0 0));
    @include transition(all, 0.3s, ease-in-out);

    &:hover,
    &.active {
      background: $blue-gradient;
      color: $white-clr;
    }
  }
}

/* Tab */
