.g-table {
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__rate {
    @include flex-center();

    img {
      margin-right: rem(12);
    }
  }

  &__sm {
    .table {
      min-width: rem(500) !important;
    }
  }

  .table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 rem(6);
    min-width: rem(1100);

    &.balance-table {
      tr td:last-child {
        text-align: left;
      }
    }
  }

  .g-checkbox {
    transform: translateY(#{rem(-8)});
  }

  thead {
    th {
      @include font-size(18, 400);
      border: none;
      text-align: center;
      color: $dark-gray;
    }
  }

  tbody {
    tr {
      background-color: #f8f8fc;
    }

    tr,
    td {
      border-bottom-width: 0 !important;
      border: none;
    }

    td {
      padding: rem(25) 0;
      text-align: center;
      @include font-size(16, 400);
    }
  }

  &__flag {
    @include flex-center();

    img {
      margin-right: rem(10);
      width: rem(25);
      border-radius: rem(4);
    }
  }

   &__btn__collection {
     @include flex-center();

    .g-btn {
      @include advancedRem(padding, (3))
    }

     .g-btn {
       &:first-child {
         margin-right: rem(25);
       }
     }
   }

   &__bordered {
     td {
       border: none;
     }
     
     tr {
       border-bottom: 1px solid #E6E6E7;
     }
   }
}
