@charset 'utf-8';

/* Utilities */

@import "utilities/variables";

@import "utilities/functions";

@import "utilities/mixins";

@import "utilities/constants";

/* Base */

@import "base/typography";

@import "base/reset";

/* Components */

@import "components/dropdown";

@import "components/buttons";

@import "components/backdrop";

@import "components/card";

@import "components/carousel";

@import "components/tab";

@import "components/map";

/* Layouts */

@import "layouts/container";

@import "layouts/grid";

@import "layouts/navbar";

@import "layouts/section";

@import "layouts/footer";

@import "layouts/form";


/* Pages */

@import "pages/index";

@import "pages/register";

@import "pages/login";

@import "pages/update-password";

@import "pages/_success";

@import "pages/contact";

@import "pages/about";
