*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1.1;
  font-family: "Prompt", sans-serif !important;

  *:focus {
    outline: none;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

body {
  font-family: "Prompt", sans-serif !important;
  background-color: $white-clr;
  
  /* if you prefer to performance, you should choose this way */

  // background: rgb(146, 165, 243);
  // background: linear-gradient(90deg, rgba(177, 191, 248, 0.404) 24%, rgba(253, 188, 183, 0.438) 91%);
  color: $dark-gray;
}

@media screen and (min-width: 1920px) {
  html {
    font-size: calc(100vw / 1920 * 20);
  }
}

.btn,
.form-control {
  box-shadow: none;

  &:focus {
    text-shadow: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

ul {
  padding-left: 0;
  list-style: none;
}

address {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
}

.g-fluid {
  width: 100%;
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
//   border: rem(3) solid $white-clr !important;
//   -webkit-text-fill-color: $label-clr;
//   transition: background-color 5000s ease-in-out 0s;
// }
