@each $type, $weight in $font-types {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: normal;
    src: url("../../assets/fonts/Prompt-#{$type}.ttf") format("truetype");
    // url does not have correct directory becuase of compiled css
    font-display: swap;
  }
}
