.g-container {
  width: 100%;
  margin: 0 auto;
  max-width: calc(100% - #{rem($offset)} * 2);
}

.g-container__md {
  width: 100%;
  margin: 0 auto;
  max-width: calc(100% - #{rem($offset-md)} * 2);
}