.g-container {
  width: 100%;
  margin: 0 auto;
  max-width: calc(100% - #{rem($offset)} * 2);

  @include breakpoint-max($desktop-width) {
    max-width: calc(100% - #{rem($offset / 2)} * 2);
  }

  @include breakpoint-max($tablet-width) {
    max-width: calc(100% - #{rem($offset / 5)} * 2);
  }
}

.g-container__md {
  width: 100%;
  margin: 0 auto;
  max-width: calc(100% - #{rem($offset-md)} * 2);
}

.g-container__lg {
  width: 100%;
  margin: 0 auto;
  max-width: calc(100% - #{rem($offset-lg)} * 2);
}
