.dashboard-section {
  @include advancedRem(margin, (100 0 150));

  .total-price {
    @include font-size(20, 500);
    line-height: rem(30);
    margin-right: rem(25);
  }
}

.g-dashboard {
  position: relative;
  background-color: $white-clr;

  &__pad {
    @include advancedRem(padding, (80 100));
  }

  &__py {
    @include advancedRem(padding, (45 0 60));
  }

  @include pseudo() {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: rem(7);
    background: $blue-gradient;
  }

  .dashboard-bordered-wrapper {
    margin-top: rem(80);
    padding-top: rem(25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .g-btn {
      @include font-size(16, 600);
      line-height: rem(24);
      
      &:not(:last-child) {
        margin-bottom: rem(8);
      }
    }

    @include pseudo() {
      max-width: rem(370);
      height: rem(3);
      width: 100%;
      top: 0;
      left: 0;
      background: $blue-gradient;
    }
  }

  &__tabs__wrapper {
    @include advancedRem(padding, (0 40));

    &.on-declarations {
      margin-bottom: rem(90);
    }
  }
  
  .orders-subtitle {
    @include advancedRem(margin, (30 40 45));
    line-height: rem(23);
    color: #6F6F6F;
    @include font-size(15, 500, italic);
  }

  &__divider {
    width: 100%;
    height: rem(1);
    background-color: $border-clr;
    @include advancedRem(margin, (50 0 10));
  }

  &__bulk-pay {
    @include flex-center();

    .orders-total {
      margin-left: rem(35);
      @include flexbox();

      &__text {
        @include font-size(16, 400);
        color: $dark-gray;
        margin-right: rem(20);
      }

      &__price {
        @include font-size(16, 600);
      }
    }
  }

  &__alert {
    @include flex-center();
    margin: rem(55) 0;
    color: $dark-gray;
    @include font-size(18, 400);
    padding: 0 rem(40);
    text-align: center;

    * {
      margin-bottom: 0;
    }
    
    a:hover {
      @include transition();
      color: $blue-clr-2;
    }
  }
}

.dashboard-form {
  .g-form-group {
    margin-bottom: rem(25);
  }

  &__bottom {
    display: flex;
    align-items: center;

    p {
      margin-bottom: 0;
    }

    .total-cost {
      margin: 0 rem(52) 0 auto;
      @include font-size(18, 300);
    }

    .btn-add-link {
      display: flex;
      align-items: center;
      @include font-size(18, 300);

      img {
        margin-right: rem(7);
        @include box(20);
      }
    }
  }
}

.no-orders {
  width: 100%;
  @include flex-center();
  padding: rem(25);
  background: $blue-gradient;
  color: $white-clr;
  @include font-size(18, 400);
  @include advancedRem(margin, (30 0 50));
}