.g-nav {
  .navbar-brand {
    display: inline-block;
    cursor: pointer;
    width: rem(220);
  }

  &__top {
    @include justify-end();
    @include advancedRem(padding, (25 0));

    // @include breakpoint-max($desktop-width) {
    //   @include advancedRem(padding, (25 0 0));
    // }
  }

  &__bottom {
    @include advancedRem(padding, (43 0 37 0));

    @include breakpoint-max($desktop-width) {
      @include advancedRem(padding, (20 0 20 0));
    }
  }

  &__border {
    border-bottom: 1px solid $solid-blue-border;

    // @include breakpoint-max($desktop-width) {
    //   border: none;
    // }
  }

  .btn-login {
    @include advancedRem(margin-right, 24);
  }

  .address-info {
    @include align-center();
    margin-right: rem(110);

    @include breakpoint-max($desktop-width) {
      margin-right: 0;
    }

    * {
      color: $dark-gray;
    }

    address,
    a {
      @include advancedRem(padding, (0 8));
      position: relative;
      margin-right: 6px;
    }

    a,
    a * {
      @include transition();
      @include action-css((hover, active)) {
        color: $red-clr;
      }
    }

    .border-right {
      @include pseudo(after) {
        right: -5px;
        top: 50%;
        transform: translateY(-50%);
        height: rem(21);
        background-color: $dark-gray;
        @include toRem(width, 2);
      }

      @include breakpoint-max($desktop-width) {
        @include pseudo(after) {
          width: 0;
          height: 0;
          display: none;
        }
      }
    }
  }

  .authenticated {
    @include flexbox();
    align-items: center;
    margin-left: auto;
  }

  .online-queues {
    color: $dark-gray;
    border-radius: rem(30);
    border: 1px solid $blue-clr;
    @include font-size(15, 500);
    margin-right: rem(50);
  }

  .auth-side {
    @include flex-center();
    flex-shrink: 0;
  }

  &__links {
    @include flex-center();
    justify-content: center;
  }

  &__link {
    &:not(:last-child) {
      margin-right: 10px;
    }

    &-list {
      @include flex-center();
      list-style: none;
      margin-bottom: 0;

      a {
        @include advancedRem(padding, (8 15));
        color: $dark-gray;
        display: block;
        @include transition();

        @include action-css((hover, active)) {
          color: $red-clr;
        }
      }
    }
  }

  .hamburger-btn {
    @include flex-center(column);
    width: rem(40);
    // height: rem(40);

    &__vector {
      width: 100%;
      display: inline-block;
      height: rem(5);
      margin-bottom: rem(6);
      background-color: $dark-gray;
      border-radius: rem(12);
    }

    &__text {
      @include font-size(10, 500);
      letter-spacing: 0.25em;
      align-self: flex-start;
      color: $black-clr;
    }
  }
}

.navbar-modal {
  .modal-dialog {
    max-width: 100%;
    width: 100%;
    margin: 0;
    border: none;
  }

  .modal-content {
    border: none;
    background: #ffffff;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0;
  }

  .modal-header {
    @include flex-center();
    @include advancedRem(padding, (40, 30));
    border: none;

    @include breakpoint-min($tablet-width) {
      margin-bottom: rem(40);
    }
  }

  &__logo {
    width: 100%;
    text-align: center;

    img {
      width: 100%;
      object-fit: cover;

      @include breakpoint-min($tablet-width) {
        width: calc(100% - #{rem(120)});
      }
    }
  }

  &__links {
    @include advancedRem(padding, (0 30));

    &--item {
      a {
        display: block;
        @include font-size(16, 24);
        text-transform: uppercase;
        color: $dark-gray;
        @include advancedRem(padding, (8 0));
        @include transition();

        &:hover,
        &.active {
          color: $red-clr
          ;
        }
      }
    }
  }
}
