.g-nav {
  .navbar-brand {
    cursor: pointer;
  }

  &__top {
    @include justify-end();
    @include advancedRem(padding, (28 0 25 0));
  }

  &__bottom {
    @include advancedRem(padding, (43 0 37 0));
  }

  &__border {
    border-bottom: 1px solid $solid-blue-border;
  }

  .btn-login {
    @include advancedRem(margin, (0 24 0 110));
  }

  .address-info {
    @include align-center();

    * {
      color: $dark-gray;
    }

    address,
    a {
      @include advancedRem(padding, (0 8));
      position: relative;
      margin-right: 6px;
    }

    a {
      @include transition();
      @include action-css((hover, active)) {
        color: $red-clr;
      }
    }

    .border-right {
      @include pseudo(after) {
        right: -5px;
        top: 50%;
        transform: translateY(-50%);
        height: rem(21);
        background-color: $dark-gray;
        @include toRem(width, 2);
      }
    }
  }

  .auth-side {
    @include flex-center();
    flex-shrink: 0;
  }

  &__links {
    @include flex-center();
    justify-content: center;
  }

  &__link {
    &:not(:last-child) {
      margin-right: 10px;
    }

    &-list {
      @include flex-center();
      list-style: none;
      margin-bottom: 0;

      a {
        @include advancedRem(padding, (8 15));
        color: $dark-gray;
        display: block;
        @include transition();

        @include action-css((hover, active)) {
          color: $red-clr;
        }
      }
    }
  }
}
