.g-balance {
  @include advancedRem(margin, (70 100 85));

  &__card {
    border: rem(2) solid #eb323b;
    border-radius: rem($radius-20);
    @include advancedRem(padding, (40 75));

    &--inner {
      width: 100%;
      max-width: rem(820);
    }
  }

  .g-form {
    margin-top: rem(35);
  }

  .btn-increase-balance {
    height: 59px;
  }
}

.balance-form {
  width: 100%;
  max-width: rem(620);
  margin: 0 auto;

  .g-form-group {
    margin-bottom: rem(20);
  }

  &__title {
    margin-bottom: rem(50);
  }

  &__buttons {
    @include justify-end();
    margin-top: rem(15);
    align-items: center;

    .g-btn {
      min-height: rem(56);
      &:last-child {
        margin-left: rem(25);
      }
    }
  }
}
