.intro-section {
  $pseudo-width: rem(410);
  position: relative;
  background-color: $light-blue;
  @include advancedRem(padding, 80px 0);

  @include pseudo((after, before)) {
    content: '';
    position: absolute;
    bottom: 0;
  }

  @include pseudo(after) {
    left: 0;
    width: $pseudo-width;
    @include toRem(height, 4);
    background-color: $red-clr;
  }

  @include pseudo(before) {
    right: 0;
    width: calc(100% - #{$pseudo-width});
    background-color: $blue-clr;
    @include toRem(height, 1);
  }

  &__grid {
    display: grid;
    grid-template-columns: 50% auto;
    align-items: center;
  }

  &__content {
    grid-column: 1 / 2;
  }

  &__img {
    grid-column: 2 / 3;

    img {
      object-fit: cover;
    }
  }

  .g-title__lg {
    @include toRem(margin-bottom, 32);
  }
}

.calculator-section {
  @include advancedRem(margin, 46px 0 200px 0);
}

.services-section {
  .g-title__md {
    text-transform: uppercase;
    @include toRem(margin-bottom, 20);
  }

  &__subtitle {
    @include toRem(max-width, 700);
    @include font-size(20, 400);
    @include toRem(line-height, 38);
  }
}