.intro-section {
  background-color: $light-blue;
  @include advancedRem(padding, 80px 0);
  position: relative;
  border-bottom: 1px solid $blue-clr;

  @include pseudo(after) {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    @include toRem(width, 410);
    @include toRem(height, 4);
    background-color: $red-clr;
  }

  &__grid {
    display: grid;
    grid-template-columns: 50% auto;
    align-items: center;
  }

  &__content {
    grid-column: 1 / 2;
  }

  &__img {
    grid-column: 2 / 3;

    img {
      object-fit: cover;
    }
  }

  .g-title__lg {
    @include toRem(margin-bottom, 32);
  }
}