.success-section {
  @include advancedRem(margin, (80 0 200));

  &__container {
    @include advancedRem(padding, (43 80 70));
    @include flex-center(column);
    border-radius: rem(4);
    background-color: $container-bg;
  }

  &__title {
    margin-bottom: rem(45);
  }

  &__img {
    margin-bottom: rem(58);
    max-width: rem(450);
    width: 100%;
  }

  .g-text__sm {
    font-weight: 300;
  }
}
